%h2 Match history

%table
  %tr
    %th.date Date
    %th Winner
    %th Loser
    %th.action
  - @matches.each do |m|
    %tr{class: cycle("even", "odd")}
      %td.date= m.date.strftime("%Y-%m-%d")
      %td= m.winner
      %td= m.loser
      %td.action= link_to "delete", match_path(m), method: :delete

%h2 Add a match

= form_for(@match) do |f|
  = f.label :winner
  = f.text_field :winner
  = f.label :loser
  = f.text_field :loser
  = f.label :date
  = f.text_field :date, value: Time.now.strftime("%Y-%m-%d %H:%M:%S")
  = submit_tag "Add match"

%nav
  = link_to "Rankings", "/"
