%h2 Add a match

%nav
  = link_to "Rankings", root_path

= form_for(@match) do |f|
  = f.label :winner
  = f.text_field :winner, autocomplete: "off"
  = f.label :loser
  = f.text_field :loser, autocomplete: "off"
  = f.label :occured_at
  = f.text_field :occured_at, value: Time.now.strftime("%Y-%m-%d %H:%M:%S")
  = submit_tag "Add match"

%h2 Match history

%table
  %tr
    %th.date Date
    %th Winner
    %th Loser
    %th.action
  - @matches.each do |m|
    %tr{class: cycle("even", "odd")}
      %td.date= m.occured_at.strftime("%Y-%m-%d")
      %td= m.winner
      %td= m.loser
      %td.action= link_to "delete", match_path(m), method: :delete


%nav
  = link_to "Rankings", root_path
