!!! 5
%html
  %head
    %title Pivot Pong #{location} — #{yield :title}
    = stylesheet_link_tag 'reset', 'pong', 'jquery.autocomplete'
    = javascript_include_tag :defaults
    = javascript_include_tag 'jquery.autocomplete', 'jquery.tabs'
    = javascript_include_tag "http://use.typekit.com/rol0dzy.js"
    = javascript_tag "try{Typekit.load();}catch(e){}"
    = favicon_link_tag
    = csrf_meta_tag

  %body
    #page
      %h1 pivot pong #{location.downcase}
      = render 'shared/flash_messages'
      = yield
      %footer
        = link_to "source code", "https://github.com/seanmoon/pivot-pong"
