<!DOCTYPE html>
%html
  %head
    %title Pivot Pong - NYC
    = stylesheet_link_tag 'reset', 'pong', 'jquery.autocomplete'
    = javascript_include_tag :defaults
    = javascript_include_tag 'jquery.autocomplete'
    = javascript_include_tag "http://use.typekit.com/rol0dzy.js"
    = javascript_tag "try{Typekit.load();}catch(e){}"
    = csrf_meta_tag

  %body
    #page
      #content
        %h1 pivot pong
        = yield
        = link_to "source code", "https://github.com/ssamoon/pivot-pong", class: "source"
